.popover {
  position: relative;
  border-radius: 2px;
  .show {
    opacity: 1;
    visibility: visible;
  }

  .hide {
    opacity: 0;
    visibility: hidden;
  }
  .transition {
    transition: all 0.5s ease;
  }
  .wrap {
    position: absolute;
    background: #fff;
    width: 230px;
    height: 115px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    .border-bottom {
      border-bottom: 1px solid #f0f0f0;
    }

    .title {
      min-height: 25px;
      width: 90%;
      margin: 0 auto;
      padding: 5px 0;
    }

    .content {
      height: 70px;
      width: 90%;
      margin: auto;
      padding-top: 10px;
      overflow-y: auto;
      color: rgba(0, 0, 0, 0.65);
    }
  }
  .bottom {
    bottom: -120px;
    left: 40%;
  }
  .top {
    top: -120px;
    left: 40%;
  }
  .left {
    left: -235px;
    top: 25%;
  }
  .right {
    right: -235px;
    top: 25%;
  }
}
