.popover {
  position: relative;
  .wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 230px;
    height: 115px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 16px #888888;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  .border-bottom {
    border-bottom: 1px solid #000;
  }
  .title {
    min-height: 25px;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
  }
  .content {
    height: 70px;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    overflow-y: auto;
  }
}
