.search-friends {
  > .search-input {
    width: 500px;
    height: 40px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
    outline: none;
  }
  > .search-btn {
    width: 100px;
    height: 46px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: 10px;
    background: #0081ff;
    box-shadow: 12px 12px 16px rgba(0, 102, 204, 0.2);
    color: #fff;
    cursor: pointer;
    outline: none;
  }
}
.extend-list {
  margin-top: 10px;
  .friend-add-btn {
    position: absolute;
    left: -50%;
    width: 24px;
    padding: 5px;
    background: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }
}
.confirm-message {
  position: relative;
  height: 100%;
  input {
    display: block;
    width: 320px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: auto;
    font-size: 16px;
    outline: none;
  }
  button {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 46px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: 10px;
    background: #0081ff;
    box-shadow: 12px 12px 16px rgba(0, 102, 204, 0.2);
    transform: translate(-50%);
    color: #fff;
    cursor: pointer;
    outline: none;
  }
}
