.message {
  height: 100%;
  box-sizing: border-box;
}
.messages {
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #5e2525;
    text-align: center;
    line-height: 2;
    color: #fff;
  }
  .content {
    padding: 5px;
    color: #fff;
    border-radius: 5px;
  }
}
