body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex {
  display: flex;
}

.flex-sub {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}
.cursor-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.dis-b {
  display: block;
}
.dis-ib {
  display: inline-block;
}
.dis-i {
  display: inline;
}

.padding {
  padding: 12px;
}

.padding-left {
  padding-left: 12px;
}

.padding-right {
  padding-right: 12px;
}

.padding-bottom {
  padding-bottom: 12px;
}

.padding-top {
  padding-top: 12px;
}

.padding-lr {
  padding: 0 12px;
}

.padding-tb {
  padding: 12px 0;
}

.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}

.margin {
  padding: 12px;
}

.margin-left {
  margin-left: 12px;
}

.margin-right {
  margin-right: 12px;
}

.margin-bottom {
  margin-bottom: 12px;
}

.margin-top {
  margin-top: 12px;
}

.margin-lr {
  margin: 0 12px;
}

.margin-tb {
  margin: 12px 0;
}
